{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>

.card{
	height: 100%; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
}
.clickable:hover{
	box-shadow: 3px 3px 1px 1px gray;
	    cursor: pointer;
}
.card-header{
	width:100%;
	text-align: center;
	background-color:white;
}
.row{
	margin-bottom:30px
}
.clvdata,.clvtable{
	max-height:400px;
	overflow:scroll;
}
.aclick{
	text-decoration:none;
	color:black;
	padding:0;
	margin:0;
	width:100;
	
}
</style>
<div class = "row" style="font-size:24px;font-weight:bold">  &nbsp&nbsp Today is : &nbsp&nbsp <span id= "today" style="font-weight:lighter"> 9 Dec 2021(Assume)</span> </div>
<div class="row">
    <div id="gototodayorder" class="col-md-6">
		<div class="card clickable">
		  <div class="card-header"><h2>Today new transaction</h2></div><br/>
		  <div class="card-body" ><h1 style="font-size:100px">{{ context.lead_count }}</h1></div>
		  
		</div>
    </div>
    <div class="col-md-6">
		<div class="card" >
		  <div class="card-header"><h2>Monthly Sales</h2></div>
		  <div class="card-body" ><canvas id="sales-chart" width="400" height="200"></canvas></div>
		  
		</div>	
		<p id = "data" style="display:none">{{ context.graph_data}}</p>
    </div>
</div>

<div class="row justify-content-center">
	
    {% for c in context.tracking_count %}

		<div class="card clickable tracking-row" data-squery={{ c.0 }} style="min-height:80px;margin:auto;">
			<div class="card-header bg-white" style=""><b>{{ c.0 }}</b></div>
			<div class="card-body">
				
                {{ c.1 }}
			</div>
		</div>

    {% endfor %}
	
</div>
<div class = "row justify-content-center">
	<div class="card clickable tracking-clv col-md-3"  style="min-height:80px;margin:auto;">
	
		<div class="card-header bg-white" style=""><b>Hot Lead : </b></div>
		<a href="#hot_lead" class="aclick"><div class="card-body">
				
            {{ context.hot_lead_count }}
		</a></div>
		
	</div>	  
	<div class="card clickable tracking-clv col-md-3"  style="min-height:80px;margin:auto;">
		<div class="card-header bg-white" style=""><b>Cold Lead : </b></div>
		<a href="#cold_lead" class="aclick"><div class="card-body">
				
            {{ context.cold_lead_count }}
		</a>
		</div>
	</div>
	<div class="card clickable tracking-clv col-md-3"  style="min-height:80px;margin:auto;">
		<div class="card-header bg-white" style=""><b>High Ticket Lead : </b></div>
		<a href="#highticket" class="aclick"><div class="card-body">
				
            {{ context.high_ticket_count }}
			
		</div></a>
	</div>
	<div class="card clickable tracking-clv col-md-3"  style="min-height:80px;margin:auto;">
		<div class="card-header bg-white" style=""><b>One Time Buyer: </b></div>
		<a href="#onetime" class="aclick"><div class="card-body">
				
            {{ context.one_time_buyer_percentage }} 
		</div>
		</a>
			
	</div>
</div>

<p>*The arrangement of table below are based on the ranking of customer based on overall value of order frequency and total sales </p>
<p>*Click on the client to view their previous order invoice</p>
<div class="container row clvtable" id="hot_lead">
	<h2>Hot Lead (Best ranking customer)</h2>
    <table class="table table-hover clvdata">
        <thead>
            <tr>
                <th>Name</th>
                <th>Repeat Sales Frequency</th>
                <th>Active Period</th>
                <th>Average Repeat Sales Value($)</th>
                <th>Last Buying (Days ago)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in context.hot_lead %}
                <tr class="customer-row" data-customerid="{{ row.customer_id }}">
                    <td>{{ row.customer_name }}</td>
                    <td>{{ row.Repeat_Sales_Time }}</td>
                    <td>{{ row.Active_Period }}</td>
                    <td>{{ row.Average_Repeat_Sales_Value }}</td>
                    <td>{{ row.Last_Buying }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container row clvtable" id="cold_lead">
	<h2>Cold Lead</h2>
    <table class="table table-hover clvdata">
        <thead>
            <tr>
                <th>Name</th>
                <th>Repeat Sales Frequency</th>
                <th>Active Period</th>
                <th>Average Repeat Sales Value($)</th>
                <th>Last Buying (Days ago)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in context.cold_lead %}
                <tr class="customer-row" data-customerid="{{ row.customer_id }}">
                    <td>{{ row.customer_name }}</td>
                    <td>{{ row.Repeat_Sales_Time }}</td>
                    <td>{{ row.Active_Period }}</td>
                    <td>{{ row.Average_Repeat_Sales_Value }}</td>
                    <td>{{ row.Last_Buying }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container row clvtable" id="highticket">
	<h2>High Ticket Lead</h2>
    <table class="table table-hover clvdata">
        <thead>
            <tr>
                <th>Name</th>
                <th>Repeat Sales Frequency</th>
                <th>Active Period</th>
                <th>Average Repeat Sales Value($)</th>
                <th>Last Buying (Days ago)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in context.high_ticket_lead %}
                <tr class="customer-row" data-customerid="{{ row.customer_id }}">
                    <td>{{ row.customer_name }}</td>
                    <td>{{ row.Repeat_Sales_Time }}</td>
                    <td>{{ row.Active_Period }}</td>
                    <td>{{ row.Average_Repeat_Sales_Value }}</td>
                    <td>{{ row.Last_Buying }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container row clvtable" id="onetime">
	<h2>One Time Lead</h2>
    <table class="table table-hover clvdata">
        <thead>
            <tr>
                <th>Name</th>
                <th>Repeat Sales Frequency</th>
                <th>Active Period</th>
                <th>Average Repeat Sales Value($)</th>
                <th>Last Buying (Days ago)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in context.one_buyer_lead %}
                <tr class="customer-row" data-customerid="{{ row.customer_id }}">
                    <td>{{ row.customer_name }}</td>
                    <td>{{ row.Repeat_Sales_Time }}</td>
                    <td>{{ row.Active_Period }}</td>
                    <td>{{ row.Average_Repeat_Sales_Value }}</td>
                    <td>{{ row.Last_Buying }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% verbatim %}

<script>
	//graph plotting
    const graphDataElement = document.getElementById("data");
    const graphData = JSON.parse(graphDataElement.textContent);
    console.log(graphData);
    const ctx = document.getElementById('sales-chart').getContext('2d');

	new Chart(ctx, {
		type: 'line',
		data: {
			labels: graphData.labels,
			datasets: [{
				label: 'Sales Summary',
				data: graphData.data,
				borderColor: 'blue',
				fill: false,
			}]
		},
		options: {
			scales: {
				x: {
					title: {
						display: true,
						text: 'Date'
					}
				},
				y: {
					title: {
						display: true,
						text: 'Sales ($)'
					}
				}
			}
		}
	});
	
	

	
	// for updating the date
	const date = new Date();
	const year = date.getFullYear();
	const month = (date.getMonth() + 1).toString().padStart(2, '0');
	const day = date.getDate().toString().padStart(2, '0');
	const formattedDate = `${year}-${month}-${day}`;
	//console.log(date);
	//document.getElementById("today").innerHTML = formattedDate;
	
	
	
    document.addEventListener('DOMContentLoaded', function() {
		// For check today order
		const gettodaysales = document.querySelector('#gototodayorder');
		gettodaysales.addEventListener('click', function() {
			window.location.href = '../order_data?q='+document.getElementById("today").textContent;
		});
		
		
		// For tracking searching purpose 
		
        const rows = document.querySelectorAll('.tracking-row');
        rows.forEach(row => {
            row.addEventListener('click', function() {
				let keyword;
                const query = row.getAttribute('data-squery');
				switch (query) {
				  case 'Follow':
					keyword = "After";
					window.location.href = '../contact_search?q='+ keyword;
					break;
				  case 'Following':
					keyword = "Follow";
					window.location.href = '../contact_search?q='+ keyword;
					break;
				  case 'Closed':
					keyword = "Close";
					window.location.href = '../contact_search?q='+ keyword;
					break;
				  case 'Give':
					keyword = "give";
					window.location.href = '../contact_search?q='+ keyword;
					break;
				  default:
					keyword = "unattend";
					window.location.href = '../contact_search?q='+ keyword;
					break;				 
				}
                
            });
        });
		
		
		// For CLV searching
        const rowsclv = document.querySelectorAll('.customer-row');
        rowsclv.forEach(rowclv => {
            rowclv.addEventListener('click', function() {
                const customerId = rowclv.getAttribute('data-customerid');
                window.location.href = '../order_search?q=clv'+customerId+'clv';
            });
        });
    });
</script>
{% endverbatim %}

{% endblock %}